[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.87.0"
pydantic = "==1.10.2"
uvicorn = {extras = ["standard"], version = "*"}
black = "==22.10.0"
beautifulsoup4 = "==4.11.1"
requests = "==2.28.1"
pytest = "==7.2.0"
pytest-mock = "==3.10.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
